[submodule "Angular"]
	path = Angular
	url = https://github.com/StreetPet/Angular
[submodule "Firebase"]
	path = Firebase
	url = https://github.com/StreetPet/Firebase
[submodule "Jekyll"]
	path = Jekyll
	url = https://github.com/StreetPet/Jekyll